@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/styleguide.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 사용자 정의 컴포넌트 클래스 */
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

#root {
  padding: 0 !important;
  margin: 0 !important;
}

